﻿{% extends "base.html" %}


{% block title %}
    Izdevniecības
{% endblock %}


{% block content %}
{% if izdevniecibas %}
<h3>Izdevniecības</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>nosaukums</th>
      </tr>
    </thead>
    <tbody>
      {% for izdevnieciba in izdevniecibas %}
      <tr>
        <td>{{izdevnieciba.id}}</td>
        <td>{{izdevnieciba.nosaukums}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
 <div class="alert alert-info">
  <strong>Info!</strong> Nav izdevniecību!
</div>
{% endif %}
{% endblock %}