﻿{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    
    <title>{% block title %} Sākums {% endblock %}</title>
    
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</head>
<body>
    <div id="menu">
        {% block menu %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Django paraugs</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Sākums</a></li>
              <li><a href="/autors">Autori</a></li>
              <li><a href="/gramata">Gramatas</a></li>
              <li><a href="/izdevnieciba">Izdevniecibas</a></li>
            </ul>
          </div>
        </nav>
        {% endblock %}

    </div>

    <div class="container" id="content">
        {% block content %}
        
        <h1>Šī ir lietotnes sākuma lapa</h1>
        
        {% endblock %}
    </div>
</body>
</html>