﻿{% extends "base.html" %}

{% block title %}
    Grāmatas izveide
{% endblock %}


{% block content %}
<h3>Grāmatas izveide</h3>
{% if type and type == "POST" %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Success!</strong> Grāmata veiksmīgi izveidota
        </div>
    {% else %}
        <div class="alert alert-danger">
          <strong>Danger!</strong> Grāmatu neizdevās izveidot
        </div>
    {% endif %}
    {{input}}
{% else %}
<form method="post"> 
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Grāmatas nosaukums:</label>
    <input name="title" type="text" class="form-control" id="title">
  </div>
  
  <div class="form-group">
    <label for="publish_date">Izdošanas gads:</label>
    <input name="publish_date" type="number" class="form-control" id="publish_date">
  </div>
  
  <div class="form-group">
    <label for="publisher">Izdevniecība:</label>
    <select name="publisher" class="form-control" id="publisher">
        {% for publisher in publishers %}
          <option value="{{publisher.id}}">{{publisher.nosaukums}}</option>
        {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="authors">Autori:</label>
    <select multiple name="authors" class="form-control" id="authors">
      {% for author in authors %}
        <option value="{{author.id}}">{{author.vards}} {{author.uzvards}}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-default">Izveidot</button>
</form>
{% endif %}


{% endblock %}