﻿{% extends "base.html" %}

{% block title %}
    Grāmata "{{gramata.nosaukums}}"
{% endblock %}


{% block content %}

<h3>Grāmata "{{gramata.nosaukums}}"</h3>

<p><strong>Izdošanas gads:</strong> {{gramata.izdosanas_gads}}</p>
<p><strong>Izdevniecības nosaukums:</strong> {{gramata.izdevnieciba_id.nosaukums}}</p>

<br/>

<h4>Autori</h4>
{% for autors in gramata.autori.all %}
<p>{{autors.vards}} {{autors.uzvards}}</p>
{% endfor %}

<br/>
<button onclick="window.document.location = '/gramata/delete/{{gramata.id}}'" class="btn btn-danger">Dzēst</button>
{% endblock %}