﻿{% extends "base.html" %}

{% block title %}
    Grāmatas
{% endblock %}


{% block content %}
{% if gramatas %}
<h3>Gramatas <button onclick="window.document.location='/gramata/create'" class="btn btn-xs btn-info">Izveidot</button></h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>nosaukums</th>
      </tr>
    </thead>
    <tbody>
      {% for gramata in gramatas %}
      <tr style="cursor: pointer" onclick="window.document.location='/gramata/{{gramata.id}}'">
        <td>{{ gramata.id }}</td>
        <td>{{ gramata.nosaukums }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}