﻿{% extends "base.html" %}


{% block title %}
    Autori
{% endblock %}


{% block content %}
{% if autori %}
<h3>Autori</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>vārds</th>
        <th>uzvārds</th>
      </tr>
    </thead>
    <tbody>
      {% for autors in autori %}
      <tr>
        <td>{{autors.id}}</td>
        <td>{{autors.vards}}</td>
        <td>{{autors.uzvards}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}